<tr>
  <td><%= image_tag room_type.image, class: "rooms_table_image" %></td>
  <td><%= room_type.name %></td>
  <td><%= room_type.cost %>$/<%= t ".pernight" %></td>
  <td><%= room_type.size %><% t ".m2" %></td>
  <td><%= room_type.capacity %></td>
  <td class="col col-2">
    <% room_type.rooms.each do |room| %>
      <p class="badge badge-light"><%= room.number  %></p>
    <% end %>
  </td>
  <td>
    <%= link_to admin_room_type_path(room_type.id), method: :delete, data: { confirm: "Bạn có chắc chắn muốn xóa phòng này?" }  do %>
      <i class="fa fa-trash icon delete-icon" aria-hidden="true"></i>
    <% end %>
    <%= link_to edit_admin_room_type_path(room_type.id), method: :get do  %>
      <i class="fa fa-pencil-square icon edit-icon" aria-hidden="true"></i>
    <% end %>
    <%# <i class="fa fa-trash icon delete-icon" aria-hidden="true"></i>
      <i class="fa fa-pencil-square icon edit-icon" aria-hidden="true"> %>
    <%# edit_admin_room_type_path %>
  </i>
</td>
</tr>
