<!-- Main content -->
<div class="col-12">
  <h1>
    Danh sách các phòng
    <%= link_to admin_room_types_path(format: :xlsx, q: request.query_parameters[:q]),
                                     :data => {:confirm => "Are you sure export to excel?"} do %>
      <i class="fa fa-file-excel-o "></i>
    <% end %>
  </h1>
  <div class="card">
    <!-- /.card-header -->
    <div class="card-body">
      <p>Filters: <span class="filters"></span></p>
      <div class="d-flex justify-content-between">
        <div class="btn-group btn-filter">
          <button type="button" class="btn btn-default dropdown-toggle">
            <span class="glyphicon glyphicon-filter"></span>
            <span class="sr-only">Filters</span>
          </button>
          <%= search_form_for(@search, url: admin_room_types_path, method: "get") do |f| %>
            <ul class="dropdown-menu dropdown-menu-filter">
              <li>
                <%= f.label :name_cont, "Name"%>
                <%= f.text_field :name_cont, class: "form-control date-input",
                                             value: params[:q]? params[:q][:name_cont] : "" %>
                <%= f.label "Price"%>
                <div class="d-flex align-items-center">
                  <%= f.number_field :cost_gteq, class: "form-control date-input",
                                                 value: params[:q]? params[:q][:cost_gteq] : "" %>
                  <div class="concat-input"></div>
                  <%= f.number_field :cost_lteq, class: "form-control date-input",
                                                 value: params[:q]? params[:q][:cost_lteq] : "" %>
                </div>
                <%= f.label "Area"%>
                <div class="d-flex align-items-center">
                  <%= f.number_field :size_gteq, class: "form-control date-input",
                                                 value: params[:q]? params[:q][:size_gteq] : "" %>
                  <div class="concat-input"></div>
                  <%= f.number_field :size_lteq, class: "form-control date-input",
                                                 value: params[:q]? params[:q][:size_lteq] : "" %>
                </div>
                <%= f.label :capacity_eq, "Capacity"%>
                <%= f.number_field :capacity_eq, class: "form-control date-input",
                                                 value: params[:q]? params[:q][:capacity_eq] : "" %>
              </li>
              <%= f.submit "Search", class: "btn btn-primary" %>
            </ul>
          <% end %>
        </div>
        <%= link_to "Thêm mới", new_admin_room_type_path, class:"btn btn-primary",style:"height:37px" %>
      </div>
      <%#  %>
      <% if @room_types.any? %>
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th><%= t(".image") %></th>
              <th><%= t(".name") %></th>
              <th><%= t(".price") %></th>
              <th><%= t(".area") %></th>
              <th><%= t(".capacity") %></th>
              <th><%= t(".actions") %></th>
            </tr>
          </thead>
          <tbody>
            <%= render @room_types %>
          </tbody>
        </table>
      <% else %>
        <p>Không tìm thấy phòng nào</p>
      <% end %>
    </div>
  </div>
  <% if @room_types.any? %>
    <div class="col-lg-12 ">
      <div class="room-pagination">
        <%== pagy_bootstrap_nav @pagy %>
      </div>
    </div>
  <% end %>
