<tr>
  <td><%= booking.booking_date %></td>
  <td><%= booking.duration_of_stay %></td>
  <td><%= booking.check_in %></td>
  <td><%= booking.checkout %></td>
  <td><%= booking.total_rooms_booked %></td>
  <td><%= booking.status %></td>
  <td><%= booking.user.name %></td>
  <td><%= booking.refuse_reason %></td>
  <td><%= booking.user_star_rate %></td>
  <td><%= booking.total_amount %></td>
  <td>
    <i class="fa fa-trash icon delete-icon" aria-hidden="true"></i>
    <i class="fa fa-pencil-square icon edit-icon" aria-hidden="true"></i>
  </td>
</tr>
