<div class="breadcrumb-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb-text">
          <h2><%= t ".about_us" %></h2>
          <div class="bt-option">
            <%= link_to t(".home") %>
            <span><%= t ".about_us" %></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Breadcrumb Section End -->
<!-- About Us Page Section Begin -->
<section class="aboutus-page-section spad">
  <div class="container">
    <div class="about-page-text">
      <div class="row">
        <div class="col-lg-6">
          <div class="ap-title">
            <h2><%= t ".welcome" %></h2>
            <p><%= t ".hotel_intro" %></p>
          </div>
        </div>
        <div class="col-lg-5 offset-lg-1">
          <ul class="ap-services">
            <li><i class="fa fa-check"></i> <%= t ".offer_1" %></li>
            <li><i class="fa fa-check"></i> <%= t ".offer_2" %></li>
            <li><i class="fa fa-check"></i> <%= t ".offer_3" %></li>
            <li><i class="fa fa-check"></i> <%= t ".offer_4" %></li>
            <li><i class="fa fa-check"></i> <%= t ".offer_5" %></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="about-page-services">
      <div class="row">
        <div class="col-md-4">
          <div class="ap-service-item set-bg" data-setbg="https://firebasestorage.googleapis.com/v0/b/hotel-management-a5ac1.appspot.com/o/about-p1.jpg?alt=media&token=978f4560-e37f-4711-a000-72544aaa2cb1">
            <div class="api-text">
              <h3><%= t ".restaurant_services" %></h3>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="ap-service-item set-bg" data-setbg="https://firebasestorage.googleapis.com/v0/b/hotel-management-a5ac1.appspot.com/o/about-p2.jpg?alt=media&token=1d2e20f8-663b-4966-85f9-5aebf970be73">
            <div class="api-text">
              <h3><%= t ".travel_camping" %></h3>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="ap-service-item set-bg" data-setbg="https://firebasestorage.googleapis.com/v0/b/hotel-management-a5ac1.appspot.com/o/about-p3.jpg?alt=media&token=e22b3ec7-bdde-4cf1-98ed-fc82ff2b5b9a">
            <div class="api-text">
              <h3><%= t ".event_party" %></h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- About Us Page Section End -->
<!-- Video Section Begin -->
<section class="video-section set-bg" data-setbg="https://firebasestorage.googleapis.com/v0/b/hotel-management-a5ac1.appspot.com/o/video-bg.jpg?alt=media&token=f21a60bf-33d7-406e-8583-94092f9b5e20">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="video-text">
          <h2><%= t ".discover_hotel" %></h2>
          <p><%= t ".enjoy" %></p>
          <a href="https://www.youtube.com/watch?v=yW6mFWHnMbA" class="play-btn video-popup"></a><img
              src="https://firebasestorage.googleapis.com/v0/b/hotel-management-a5ac1.appspot.com/o/play.png?alt=media&token=cfbf6459-f91f-463e-8853-125347b1c3ee" alt=""></a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Video Section End -->
<!-- Gallery Section Begin -->
<section class="gallery-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <span><%= t ".our_gallery" %></span>
          <h2><%= t ".discover_work" %></h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="gallery-item set-bg" data-setbg="https://firebasestorage.googleapis.com/v0/b/hotel-management-a5ac1.appspot.com/o/gallery-1.jpg?alt=media&token=105cfc37-09ce-4f0a-b15e-55230b36582b">
          <div class="gi-text">
            <h3><%= t ".room_luxury" %></h3>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="gallery-item set-bg" data-setbg="https://firebasestorage.googleapis.com/v0/b/hotel-management-a5ac1.appspot.com/o/gallery-3.jpg?alt=media&token=753e0ece-5dc4-469c-9a6f-ae3d3445a08a">
              <div class="gi-text">
                <h3><%= t ".room_luxury" %></h3>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="gallery-item set-bg" data-setbg="https://firebasestorage.googleapis.com/v0/b/hotel-management-a5ac1.appspot.com/o/gallery-4.jpg?alt=media&token=24d616ec-6674-40ac-9305-6909390570ff">
              <div class="gi-text">
                <h3><%= t ".room_luxury" %></h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="gallery-item large-item set-bg" data-setbg="https://firebasestorage.googleapis.com/v0/b/hotel-management-a5ac1.appspot.com/o/gallery-2.jpg?alt=media&token=a4427a37-4991-4b49-9fcc-5f03e8e62f5f">
          <div class="gi-text">
            <h3><%= t ".room_luxury" %></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
