<!-- Hero Section Begin -->
<section class="hero-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="hero-text">
          <h1>King Hotel<br/>
            <%= t ".hero_title" %></h1>
          <p>
            <%= t ".hero_subtitle" %>
          </p>
          <a href="#" class="primary-btn" style="color:white"><%= t(".btn_discover") %></a>
        </div>
      </div>
      <div class="col-xl-4 col-lg-5 offset-xl-2 offset-lg-1 mt-5">
        <div class="booking-form">
          <h3><%= t(".btn_book") %></h3>
          <%= form_for(:room_type, url: search_path) do |f| %>
            <div class="check-date">
              <%= f.label :date_in, t(".check_in_form") %>
              <%= f.text_field :date_in, class: "form-control date-input" %>
              <i class="fa fa-calendar"></i>
            </div>
            <div id="date_in" class="invalid"><%= t ".not_empty"%></div>
            <div class="check-date">
              <%= f.label :date_out, t(".check_out_form") %>
              <%= f.text_field :date_out, class: "date-input" %>
              <i class="fa fa-calendar"></i>
            </div>
            <div id="date_out" class="invalid"><%= t ".not_empty"%></div>
            <div class="select-option">
              <%= f.label :capacity, t(".guest_form") %>
              <%=  select_tag(:capacity, options_for_select([[t('.guest_opt_1'),"1"], [t('.guest_opt_2'),"2"],[t('.guest_opt_3'),"3"],[t('.guest_opt_4'),"4"]])) %>
            </div>
            <%= f.submit  t(".submit_btn"), class: "rails-button-submit", data: { disable_with: false } %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="hero-slider owl-carousel">
    <div class="hs-item set-bg" data-setbg="https://firebasestorage.googleapis.com/v0/b/hotel-management-a5ac1.appspot.com/o/hero-1.jpg?alt=media&token=05550ef7-2764-44ad-a1cd-7eb902510194"></div>
    <div class="hs-item set-bg" data-setbg="https://firebasestorage.googleapis.com/v0/b/hotel-management-a5ac1.appspot.com/o/hero-2.jpg?alt=media&token=091b188f-af07-4489-ad76-503f0b37d29a"></div>
    <div class="hs-item set-bg" data-setbg="https://firebasestorage.googleapis.com/v0/b/hotel-management-a5ac1.appspot.com/o/hero-3.jpg?alt=media&token=9e738e65-df4d-4de4-94e0-d5d178a6fb6b"></div>
  </div>
</section>
<!-- Hero Section End -->
