<tr>
  <% if !booking.cancel? %>
    <td><%= booking.booking_date.strftime(Settings.date.format) %></td>
    <td><%= booking.check_in.strftime(Settings.date.format) %></td>
    <td><%= booking.check_out.strftime(Settings.date.format) %></td>
    <td>
      <%= check_status booking %>
    </td>
    <td><%= link_to booking.rooms[0].room_type.name, booking.rooms[0].room_type  %></td>
    <td>
      <% booking.rooms.each do |room| %>
        <p class="badge badge-light"><%= room.number  %></p>
        <br/>
      <% end %>
    </td>
    <th><%= booking.rooms.length * booking.rooms[0].room_type.cost %>$</th>
    <% if !booking.approve? && !booking.paid? %>
      <td>
        <%= link_to booking_path(booking.id), method: :delete, :remote => true, data: {confirm: t(".confirm_delete")} do %>
          <i class="fa fa-trash icon delete-icon" aria-hidden="true"></i>
        <% end %>
      </td>
    <% end %>
  <% end %>
</tr>
