<tr>
  <% if !booking.cancel? %>
    <td><%= booking.booking_date %></td>
    <td><%= booking.check_in %></td>
    <td><%= booking.check_out %></td>
    <td>
      <%= check_status booking %>
    </td>
    <td><%= booking.rooms[0].room_type.name %></td>
    <td>
      <%= link_to booking_path(booking.id), method: :delete, :remote => true, data: {confirm: t(".confirm_delete")} do %>
        <i class="fa fa-trash icon delete-icon" aria-hidden="true"></i>
      <% end %>
      <i class="fa fa-pencil-square icon edit-icon" aria-hidden="true"></i>
    </td>
    <td><%= booking.refuse_reason %></td>
    <td><%= booking.user_star_rate %></td>
    <th><%= booking.rooms.length * booking.rooms[0].room_type.cost %>$</th>
    <td>
      <% if !booking.approve? %>
        <td>
          <%= link_to booking_path(booking.id), method: :delete, :remote => true, data: {confirm: t(".confirm_delete")} do %>
            <i class="fa fa-trash icon delete-icon" aria-hidden="true"></i>
          <% end %>
        <% end %>
      </td>
    <% end %>
  </tr>
