<!-- Breadcrumb Section Begin -->
<div class="breadcrumb-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb-text">
          <h2><%= t ".our_rooms"%></h2>
          <div class="bt-option">
            <%= link_to t(".home"), root_path %>
            <span><%= t ".rooms" %></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Breadcrumb Section End -->
<section class="room-details-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-8" style="margin-bottom: 10px">
        <div class="room-details-item">
          <%= image_tag(@room_type.image, alt: "")%>
          <div class="rd-text">
            <div class="rd-title">
              <h3><%= @room_type.name %></h3>
              <div class="rdt-right">
                <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
                <a href="#"><%= t ".booking" %></a>
              </div>
            </div>
            <h2><%= @room_type.cost %>$<span>/<%= t ".pernight" %></span></h2>
            <table>
              <tbody>
                <tr>
                  <td class="r-o"><%= t ".size" %>:</td>
                  <td><%= @room_type.size %> <%= t ".m2" %></td>
                </tr>
                <tr>
                  <td class="r-o"><%= t ".capacity" %>:</td>
                  <td><%= t ".max_person" %> <%= @room_type.capacity %></td>
                </tr>
                <tr>
                  <td class="r-o"><%= t ".service" %>:</td>
                  <td><%= @room_type.services %></td>
                </tr>
              </tbody>
            </table>
            <p class="f-para">
              <%= @room_type.description %>
            </p>
          </div>
        </div>
        <div class="review-add">
          <h4><%= t ".add_review"%></h4>
          <form action="#" class="ra-form">
            <div class="row">
              <div class="col-lg-6">
                <input type="text" placeholder="Name">
              </div>
              <div class="col-lg-6">
                <input type="text" placeholder="Email">
              </div>
              <div class="col-lg-12">
                <div style="align-items: center; margin-bottom: 10px">
                  <h5 style="margin: auto; margin-right: 10px"><%= t ".your_rating" %>: </h5>
                  <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                </div>
                <textarea placeholder="Your Review"></textarea>
                <button type="submit"><%= t ".submit"%></button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-lg-4">
        <h3 class="list_rooms"><%= t ".list_rooms" %></h3>
        <div class="grid-container">
          <% @list_rooms.each do |room| %>
            <% if room.is_available %>
              <div class="grid-item"><%= room.number %></div>
            <% else %>
              <div class="grid-item not-available"><% room.number %></div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
