<tr>
  <td><%= user.name %></td>
  <td><%= user.email %></td>
  <td><%= user.address %></td>
  <td><%= user.phone_number %></td>
  <td><%= user.activated ? "Đã kích hoạt" : "Chưa kích hoạt" %></td>
  <td>
    <i class="fa fa-trash icon delete-icon" aria-hidden="true"></i>
    <i class="fa fa-pencil-square icon edit-icon" aria-hidden="true"></i>
  </td>
</tr>
