<tr>
  <td><%= user.name %></td>
  <td><%= user.email %></td>
  <td><%= user.address %></td>
  <td><%= user.phone_number %></td>
  <td><%= user.activated ? "Đã kích hoạt" : "Chưa kích hoạt" %></td>
</tr>
