<!DOCTYPE html>
<html>
  <head>
    <title>HotelManagement</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_pack_tag "application", "data-turbolinks-track": "reload" %>
  </head>
  <body>
    <!-- Page Preloder -->
    <%# <div id="preloder">
      <div class="loader"></div>
    </div> %>
    <%= render "layouts/header"%>
    <!-- Header End -->
    <%= yield %>
    <%= render "layouts/footer"%>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
